In [3]:
import psycopg2
from psycopg2 import sql

In [28]:
db_params = {
    'dbname' : 'postgres',
    'user' : 'postgres',
    'password' : 'Avadhi@5',
    'host' : 'localhost',
    'port'  : '5432'
}

In [29]:
try: 
    connection = psycopg2.connect(**db_params)
    cursor = connection.cursor()
    print("Connection to PostgreSQL successful")
except Exception as e:
    print(f"Error Connecting to PostgreSQL: {e}")

Connection to PostgreSQL successful

In [30]:
create_table_query = '''
CREATE TABLE IF NOT EXISTS sample_data (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    email VARCHAR(50),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
'''

In [31]:
# Execute the query
cursor.execute(create_table_query)
connection.commit()
print("Table created successfully")

Table created successfully

In [32]:
# Insert data into the table
insert_data_query = '''
INSERT INTO sample_data (name, age, email)
VALUES (%s, %s, %s)
'''

In [33]:

# Dummy data
dummy_data = [
    ('Name 1', 25, 'name1@example.com'),
    ('Name 2', 30, 'name2@example.com'),
    ('Name 3', 35, 'name3@example.com')
]

In [34]:
# Insert dummy data
cursor.executemany(insert_data_query, dummy_data)
connection.commit()
print("Data inserted successfully")

Data inserted successfully

In [35]:
# Fetch data from the table
select_query = 'SELECT * FROM sample_data'
cursor.execute(select_query)
records = cursor.fetchall()

In [36]:
# Print fetched data
print("Data retrieved from the table:")
for record in records:
    print(record)

Data retrieved from the table:
(1, 'Name1', 53, 'name1@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(2, 'Name2', 41, 'name2@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(3, 'Name3', 32, 'name3@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(4, 'Name4', 65, 'name4@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(5, 'Name5', 36, 'name5@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(6, 'Name6', 20, 'name6@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(7, 'Name7', 70, 'name7@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(8, 'Name8', 24, 'name8@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(9, 'Name9', 56, 'name9@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(10, 'Name10', 43, 'name10@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(11, 'Name11', 36, 'name11@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(12, 'Name12', 54, 'name12@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(13, 'Name13', 20, 'name13@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(14, 'Name14', 54, 'name14@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(15, 'Name15', 64, 'name15@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(16, 'Name16', 25, 'name16@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(17, 'Name17', 29, 'name17@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(18, 'Name18', 53, 'name18@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(19, 'Name19', 21, 'name19@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(20, 'Name20', 66, 'name20@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(21, 'Name21', 54, 'name21@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(22, 'Name22', 64, 'name22@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(23, 'Name23', 43, 'name23@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(24, 'Name24', 55, 'name24@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(25, 'Name25', 60, 'name25@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(26, 'Name26', 40, 'name26@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(27, 'Name27', 62, 'name27@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(28, 'Name28', 21, 'name28@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(29, 'Name29', 59, 'name29@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(30, 'Name30', 30, 'name30@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(31, 'Name31', 41, 'name31@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(32, 'Name32', 27, 'name32@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(33, 'Name33', 48, 'name33@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(34, 'Name34', 67, 'name34@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(35, 'Name35', 23, 'name35@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(36, 'Name36', 40, 'name36@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(37, 'Name37', 34, 'name37@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(38, 'Name38', 34, 'name38@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(39, 'Name39', 33, 'name39@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(40, 'Name40', 51, 'name40@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(41, 'Name41', 67, 'name41@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(42, 'Name42', 64, 'name42@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(43, 'Name43', 61, 'name43@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(44, 'Name44', 33, 'name44@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(45, 'Name45', 35, 'name45@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(46, 'Name46', 67, 'name46@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(47, 'Name47', 34, 'name47@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(48, 'Name48', 27, 'name48@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(49, 'Name49', 26, 'name49@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(50, 'Name50', 57, 'name50@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(51, 'Name51', 69, 'name51@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(52, 'Name52', 58, 'name52@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(53, 'Name53', 64, 'name53@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(54, 'Name54', 60, 'name54@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(55, 'Name55', 46, 'name55@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(56, 'Name56', 21, 'name56@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(57, 'Name57', 24, 'name57@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(58, 'Name58', 46, 'name58@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(59, 'Name59', 55, 'name59@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(60, 'Name60', 44, 'name60@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(61, 'Name61', 24, 'name61@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(62, 'Name62', 54, 'name62@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(63, 'Name63', 68, 'name63@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(64, 'Name64', 58, 'name64@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(65, 'Name65', 45, 'name65@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(66, 'Name66', 69, 'name66@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(67, 'Name67', 44, 'name67@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(68, 'Name68', 35, 'name68@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(69, 'Name69', 57, 'name69@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(70, 'Name70', 44, 'name70@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(71, 'Name71', 64, 'name71@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(72, 'Name72', 67, 'name72@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(73, 'Name73', 33, 'name73@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(74, 'Name74', 61, 'name74@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(75, 'Name75', 50, 'name75@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(76, 'Name76', 26, 'name76@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(77, 'Name77', 26, 'name77@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(78, 'Name78', 25, 'name78@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(79, 'Name79', 32, 'name79@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(80, 'Name80', 37, 'name80@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(81, 'Name81', 58, 'name81@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(82, 'Name82', 24, 'name82@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(83, 'Name83', 26, 'name83@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(84, 'Name84', 45, 'name84@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(85, 'Name85', 32, 'name85@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(86, 'Name86', 55, 'name86@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(87, 'Name87', 44, 'name87@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(88, 'Name88', 27, 'name88@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(89, 'Name89', 70, 'name89@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(90, 'Name90', 44, 'name90@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(91, 'Name91', 25, 'name91@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(92, 'Name92', 39, 'name92@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(93, 'Name93', 59, 'name93@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(94, 'Name94', 69, 'name94@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(95, 'Name95', 53, 'name95@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(96, 'Name96', 45, 'name96@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(97, 'Name97', 35, 'name97@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(98, 'Name98', 28, 'name98@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(99, 'Name99', 34, 'name99@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(100, 'Name100', 50, 'name100@example.com', datetime.datetime(2024, 6, 23, 15, 50, 55, 601314))
(101, 'Name 1', 25, 'name1@example.com', datetime.datetime(2024, 6, 23, 16, 29, 6, 913736))
(102, 'Name 2', 30, 'name2@example.com', datetime.datetime(2024, 6, 23, 16, 29, 6, 913736))
(103, 'Name 3', 35, 'name3@example.com', datetime.datetime(2024, 6, 23, 16, 29, 6, 913736))

In [37]:
import pandas as pd
import psycopg2

In [38]:
# Define the CSV file path
csv_file_path = 'sample_data.csv'

In [39]:
# Close cursor and connection
cursor.close()
connection.close()
print("PostgreSQL connection closed")

PostgreSQL connection closed